*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu{
    background-color: rgb(185, 143, 223);
}

.item{
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.item:hover{
    color: rgb(116, 69, 162);
}

.atual{
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: rgb(116, 69, 162);
    border-radius: 10px;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.19);


}

.atual:hover{
    color: white;
}