.logo{
    width: 25%;
    height: 25%;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 8%;
}

.logo_e_texto{
    display: flex;
}

.introducao{
    margin-left: 10%;
}

.texto_introducao{
    font-size: 22px;
    margin-left: 10%;
    margin-right: 20%;
    margin-bottom: 10%;
}

.bem-vindo{
    margin-top: 15%;
    margin-left: 10%;
    font-weight: 600;
    font-size: 42px;
}

.titulo_sensor{
    font-size: 20px;
    margin-top: 2%;
    margin-left: 5%;
    font-weight: 600;
}

.descricao{
    background-color: rgb(116, 69, 162);
    padding: 2% 0;
}

.miniaturas{
    display: flex;
    justify-content: center;
    padding-left: 4%;
    padding-right: 4%;
}

.frames{
    width: 300px;
    height: 210px;
    text-align: center;
    background-color: white;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.19);
}

.ferramenta{
    text-align: center;
    font-size: 30px;
}

.tema{
    color: white;
    text-align: center;
    margin-bottom: 2%;
}

.cada_miniatura{
    display: block;
    text-align: justify;
}

.ver{
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: #ff7e26;
    padding: 1% 10% 2% 10%;
    border-radius: 10px;
    margin-left: 5%;
}

.ver:hover{
    text-decoration: none;
    color: white;
    background-color: #df6310;
    transition-duration: 300ms;
}

.explicacao{
    color: white;
    padding: 5%;
    margin-bottom: 10%;
    width: 300px;
    height: 120px;
}

@media only screen and (max-width: 991px){
    .logo_e_texto{
        display: block;
    }

    .logo{
        width: 50%;
        height: 50%;
        margin-bottom: 2%;
    }

    .bem-vindo{
        margin-top: 5%;
    }

    .miniaturas{
        display: block;
        margin-left: 20%;
    }
}